@charset "UTF-8";
#container{
    width: 100%;
    max-width: 1500px;
    margin: auto;
}
#nameinputarea{
    margin: auto;
    text-align: center;
}
#size_select{
    display: flex;
    justify-content: center;
}
.resourcecircleandform{
    width: auto;
}
.number_form{
    display: flex;
    height: 21px;
    justify-content: center;
}
.tilenumberinputa{
    width: 20px;
}
.plusbutton{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minusbutton{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gamestart{
    margin: auto;
    text-align: center;
}
        #dice_area{
            width: 20%;
            height: 10%;
            display: flex;
            justify-content: center;
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: rgb(131, 221, 131);
            z-index: 1;
        }
        .dice{
            width:48%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.5px;
            margin-left: 0.5px;
        }
        #receiving_area{
            width: 25%;
            height: 10%;
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
        #deck_area{
            width: 20%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0px;
            top: 0px;
            background-color: rgb(85, 166, 241);
            z-index: 1;
            font-size: large;
            font-weight: bold;
        }
        #deckcase{
            border: 1px solid black;
            height: 85%;
            width: 30%;
            display: flex;
            align-items: flex-end;
        }
        #deck{
            width: 100%;
            height: 100%;
            background-color: black;
        }
        #cost_card{
            width: 10%;
            height: auto;
            position: absolute;
            left: 0px;
            bottom: 0px;
            z-index: 3;
        }
        .player0color{
            background-color: rgb(236, 28, 36);
        }
        .player1color{
            background-color: rgb(62, 125, 35);
        }
        .player2color{
            background-color: rgb(89, 119, 203);
        }
        .player3color{
            background-color: rgb(255, 242, 0);
        }
        .player4color{
            background-color: rgb(242, 169, 13);
        }
        .player5color{
            background-color: rgb(184, 61, 186);
        }
        #playerinformation{
            display: flex;
            flex-wrap: wrap;
            width:100%;
            height:auto;
            position: relative;
            align-items: center;
            font-size: 14.7px;
        }
            .player{
                width: 100%;
                margin:1px auto;
                border: 3px solid black; 
                border-radius: 5px;
                height: auto;
                min-height: 60px;
            }
            .row{
                display: flex;
                min-height: 22px;
                height: 33%;
            }
            .line{
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
            .nameline{
                width: 50%;
                display: flex;
                align-items: center;
                border-right:2px solid black;
                border-bottom:2px solid black;
            }
            .playermark{
                height: 100%;
                width: 15%;
                min-width: 35px;
                display:flex;
                justify-content: center;
                align-items: center;
            }
            .name{
                width: 85%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
                .resourcecard{
                    display: flex;
                    margin:0 1px;
                    border: 1px solid black; 
                    border-radius: 1px;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                }
                .titlesquare{
                    display: flex;
                    margin:0 1px;
                    border: 1px solid rgb(255, 0, 221); 
                    border-radius: 1px;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    color: rgb(255, 0, 221);
                }
                .progresscard{
                    display: flex;
                    margin:0 1px;
                    border: 1px solid black; 
                    border-radius: 1px;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                }
                #thisturn{
                    border: 1px solid red; 
                    color: red;
                }
                .back{
                    display: flex;
                    margin:0 1px;
                    border: 1px solid black; 
                    border-radius: 1px;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    background-color: black;
                }
                #buttons{
                    display: none;
                }
                #button_area{
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                }
                    #push{
                        width: 100%;
                        margin: auto;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                    }
                    #exhaustmessage{
                        width: 100%;
                        height: 20%;
                        margin: auto;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                    }
                    .action_button{
                        background:skyblue;
                        width: 60px;
                        height: 30px;
                        margin: 1px;
                        padding: 0px;
                        font-size: 1em;
                        font-weight: bold;
                    }
                
                #monopoly_area{
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                }
                    .resource_button_area{
                        display: flex;
                        width: 100%;
                        height: 75%;
                        margin: auto;
                        justify-content: center;
                        align-items: center;
                    }
                    .quitprogress{
                        display: flex;
                        width: 100%;
                        height: 25%;
                        margin: auto;
                        justify-content: center;
                        align-items: center;
                    }
                    .quitprogressbutton{
                        background-color: white;
                        width: 60px;
                        height: 30px;
                        margin: 1px;
                        padding: 0px;
                        font-size: 1em;
                        font-weight: bold;
                    }
                #harvest_area{
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                }
                #burst_area{
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                }
                #burst_message{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    height: 60%;
                }
                #you_are_bursting{
                    margin-top: auto;
                    margin-bottom: auto;
                }
                #trash_area{
                    height: 40%
                }
                .lumber{
                    background-color: rgb(62, 187, 62);
                }
                .brick{
                    background-color: rgb(179, 8, 8);
                    color: white;
                }
                .ore{
                    background-color: darkgray;
                }
                .grain{
                    background-color: gold;
                }
                .wool{
                    background-color: lightgreen;
                }
                #negotiate_area{
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                }
                #counterpart{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                }
                .propose_button{
                    width: 16%;
                    height: 30px;
                    margin: 0.25%;
                    font-size: 14px;
                    color: black;
                    font-weight: bold;
                }
                #quitnegotiatebutton{
                    background-color: white;
                    width: 16%;
                    height: 30px;
                    margin: 0.25%;
                    font-size: 1em;
                    font-weight: bold;
                }
                #propose_area{
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    font-size: large;
                }
                #proposeterm{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 75%;
                }
                .proposetermblock{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100%;
                }
                .giveresource{
                    display: flex;
                    justify-content: center;
                }
                .takeresource{
                    display: flex;
                    justify-content: center;
                }
                #acceptordeny{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 25%;
                }
                #trade_area{
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                }
                #decidearea{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #quittradebutton{
                    background-color: white;
                    width: 60px;
                    height: 30px;
                    margin: 1px;
                    padding: 0px;
                    font-size: 1em;
                    font-weight: bold;
                }
                #message_area{
                    width: 100%;
                    height: 100%;
                    display:flex;
                    flex-wrap: wrap;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                }
                .message{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                }
                #gameend_area{
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
                #endmessage_area{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #controlrecord{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .recordbutton{
                    margin:0 1.5%;
                }
                #turn{
                    font-weight: bold;
                }
                #newgame_area{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #newgamebutton{
                    background-color: white;
                    width: 120px;
                    height: 30px;
                    padding: 0px;
                    font-size: 1em;
                    font-weight: bold;
                }
                #logclose{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 0px;
                    top: 0px;
                    color: rgb(0, 0, 0);
                    font-size: 35px;
                    width: 30px;
                    height: 30px;
                    background-color: rgb(202, 202, 202, 0.5);
                }
                #logmessage{
                    overflow-y: scroll;
                    color: rgb(0, 0, 0);
                    height: calc(100% - 30px);
                    margin-top: 30px;
                }
                .logresource{
                    display: inline-block;
                    margin:0 0.5%;
                    border: 1px solid black; 
                    border-radius: 1px;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                }
                .logprogress{
                    display: inline-block;
                    margin:0 0.5%;
                    border: 1px solid black; 
                    border-radius: 1px;
                    width: 20px;
                    height: 20px;
                    font-weight: bold;
                    text-align: center;
                }
                .log{
                    margin: 2px 2%;
                }
#dice_percentage{
    display: flex;
    justify-content: center;
}
table{
    margin: auto 0 auto 0;
}
th{
    background-color: aqua;
    font-weight: bold;
    text-align: center;
}
td{
    text-align: center;
}
@media screen and (orientation:portrait){
    #field{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    #board_area{
        position:relative;
        justify-content: center;
        width: 100%;
        aspect-ratio: 7 / 6.9282;
    }
    #board{
        position: relative;
        width:100%;
        aspect-ratio: 7 / 6.9282;
    }
            #receiving{
                text-align: right;
                vertical-align: bottom;
                font-size: 5vw;
                margin: 0%;
            }
    #player_and_button_area{
        width: 100%;
        max-width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 140px;
    }
        #players{
            width: 100%;
        }
        
        #buttons{
            width: 100%;
            height: 140px;
            position: absolute;
            top: -140px;
        }
            .numberinput{
                display:flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                position:relative
            }
            .give{
                display:flex;
            }
                .resourcecircle{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 20px;
                    border-radius: 50%;
                    font-weight: bold;
                }
                .resourcenumber{
                    width: 50px;
                }
            .take{
                display: flex;
            }
            #log_area{
                position: absolute;
                width:80%;
                height:45vh;
                top: -130px;
                left: 10%;
                border: 5px double rgb(0, 0, 0);
                display: none;
                background-color: rgb(255, 255, 255);
            }
            #dice_percentage{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            
}
@media screen and (orientation: landscape){
        #field{
            width: 100%;
            height: 98vh;
            display: flex;
            align-items: flex-start;
        }@media screen and (min-height:600px){
            #field{
                align-items: center;
            }
        }
            #board_area{
                position:relative;
                width: calc(100% - 400px);
                display: flex;
                justify-content: center;
                max-height: 100%;
                aspect-ratio: 7 / 6.9282;
            }@media screen and (min-width:850px) and (max-width:1000px) {
                #board_area{
                    width: 600px;
                }
            }@media screen and (max-width:850px) {
                #board_area{
                    width: calc(100% - 250px);
                }
            }
            #board{
                position: relative;
                height:100%;
                aspect-ratio: 7 / 6.9282;
            }
                    #receiving{
                        text-align: right;
                        vertical-align: bottom;
                        font-size: 3vw;
                        margin: 0%;
                    }
            #player_and_button_area{
                position: relative;
                width: 400px;
                height: 600px;
            }@media screen and (min-width:850px) and (max-width:1000px) {
                #player_and_button_area{
                    width: calc(100% - 600px);
                    min-width: 250px;
                }
            }@media screen and (max-width:850px) {
                #player_and_button_area{
                    width: 250px;
                }
            }
                #players{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                }@media screen and (max-height:600px){
                    #players{
                        position: relative;
                        margin-top: 140px;
                    }
                }
                #buttons{
                    width: 100%;
                    height: 140px;
                }@media screen and (max-height:600px){
                    #buttons{
                        position: absolute;
                        top: -140px;
                    }
                }
                    .numberinput{
                        display:flex;
                        justify-content:center;
                        align-items: center;
                        height: 50px;
                        position:relative;
                        width: 100%;
                    }
                    .give{
                        display:flex;
                    }
                        .resourcecircle{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 20px;
                            border-radius: 50%;
                            font-weight: bold;
                        }@media screen and (max-width:1000px) {
                            .resourcecircle{
                                width: 100%;
                            }
                        }
                        .resourcenumber{
                            width: 50px;
                        }@media screen and (max-width:1000px) {
                            .resourcenumber{
                                width: 81%;
                            }
                        }
                    .take{
                        display: flex;
                    }
                    #log_area{
                        position: absolute;
                        width:80%;
                        height:500px;
                        top: 50px;
                        left: 10%;
                        border: 5px double rgb(0, 0, 0);
                        display: none;
                        background-color: rgb(255, 255, 255);
                    }@media screen and (max-height:600px){
                        #log_area{
                            position: absolute;
                            width:80%;
                            height:85vh;
                            top: -120px;
                            left: 10%;
                            border: 5px double rgb(0, 0, 0);
                            display: none;
                            background-color: rgb(255, 255, 255);
                        }
                    }
                    #dice_percentage{
                        width: calc(100% - 400px);
                    }@media screen and (min-width:850px) and (max-width:1000px) {
                        #dice_percentage{
                            width: 600px;
                        }
                    }@media screen and (max-width:850px) {
                        #dice_percentage{
                            width: calc(100% - 250px);
                        }
                    }@media screen and (max-width:800px) {
                        #dice_percentage{
                            flex-wrap: wrap;
                        }
                    }
                    @media screen and (max-width:944px) {
                        .recordbutton{
                            margin: 0 1%;
                            width: 12.5%;
                            font-size: 10%;
                            padding: 0%
                        }
                    }
                    @media screen and (min-height:601px) {
                        #controlrecord{
                            position: fixed;
                            width: 400px;
                            bottom: 2.5vh;
                            right: 0%;
                        }@media screen and (min-width:1500px){
                            #controlrecord{
                                bottom: 2.5vh;
                                right: calc(50% - 750px);
                            }
                        }@media screen and (min-width:850px) and (max-width:1000px) {
                            #controlrecord{
                                position: fixed;
                                width: calc(100% - 600px);
                                bottom: 2.5vh;
                                right: 0%;
                            }
                        }@media screen and (max-width:850px) {
                            #controlrecord{
                                position: fixed;
                                width: 250px;
                                bottom: 2.5vh;
                                right: 0%;
                            }
                        }
                    }
}























#board_frame{
    max-width:100%;
    height:auto;
    position:absolute;
}
.tile{
    position:absolute;
    width:13.7755102041%;
    height:auto;
}
.tilex1{
    left:0.4008746355685131%;
}
.tilex2{
    left:11.078717201166182%;
}
.tilex3{
    left:21.756559766763846%;
}
.tilex4{
    left:32.434402332361515%;
}
.tilex5{
    left:43.11224489795919%;
}
.tilex6{
    left:53.790087463556844%;
}
.tilex7{
    left:64.46793002915452%;
}
.tilex8{
    left:75.14577259475219%;
}
.tilex9{
    left:85.82361516034986%;
}
.tiley1{
    top:0.40500736377025043%;
}
.tiley2{
    top:6.62739322533137%;
}
.tiley3{
    top:12.849779086892488%;
}
.tiley4{
    top:19.072164948453608%;
}
.tiley5{
    top:25.294550810014726%;
}
.tiley6{
    top:31.516936671575845%;
}
.tiley7{
    top:37.73932253313696%;
}
.tiley8{
    top:43.961708394698086%;
}
.tiley9{
    top:50.1840942562592%;
}
.tiley10{
    top:56.40648011782032%;
}
.tiley11{
    top:62.628865979381445%;
}
.tiley12{
    top:68.85125184094257%;
}
.tiley13{
    top:75.07363770250367%;
}
.tiley14{
    top:81.2960235640648%;
}
.tiley15{
    top:87.51840942562592%;
}
.node{
    position:absolute;
    width:3.312610290861%;
    height:3.346760912416%;
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.nodetouch{
    width: 100%;
    height: 100%;
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.relativenode{
    background-color: rgba(159, 28, 192, 0.5);
}
.nodex1{
    left:9.240196312296%;
}
.nodex2{
    left:12.665852288972%;
}
.nodex3{
    left:19.918038877893%;
}
.nodex4{
    left:23.343694854570%;
}
.nodex5{
    left:30.595881443491%;
}
.nodex6{
    left:34.021537420167%;
}
.nodex7{
    left:41.273724009089%;
}
.nodex8{
    left:44.699379985765%;
}
.nodex9{
    left:51.951566574686%;
}
.nodex10{
    left:55.377222551363%;
}
.nodex11{
    left:62.629409140284%;
}
.nodex12{
    left:66.055065116960%;
}
.nodex13{
    left:73.307251705882%;
}
.nodex14{
    left:76.732907682558%;
}
.nodex15{
    left:83.985094271479%;
}
.nodex16{
    left:87.410750248156%;
}
.nodey1{
    top:10.9554855231735000%;
}
.nodey2{
    top:17.1778713847347000%;
}
.nodey3{
    top:23.4002572462958000%;
}
.nodey4{
    top:29.6226431078569000%;
}
.nodey5{
    top:35.8450289694180000%;
}
.nodey6{
    top:42.0674148309791000%;
}
.nodey7{
    top:48.2898006925403000%;
}
.nodey8{
    top:54.5121865541014000%;
}
.nodey9{
    top:60.7345724156625000%;
}
.nodey10{
    top:66.9569582772236000%;
}
.nodey11{
    top:73.1793441387847000%;
}
.nodey12{
    top:79.4017300003459000%;
}
.nodey13{
    top:85.6241158619070000%;
}
.road{
    position:absolute;
    width:5.5210171514343225%;
    height:5.577934854026429%;
    z-index:1;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roadx1{
    left:9.84882087034698%;
}
.roadx2{
    left:15.1695205788018%;
}
.roadx3{
    left:20.5266634359447%;
}
.roadx4{
    left:25.8473631443995%;
}
.roadx5{
    left:31.2045060015423%;
}
.roadx6{
    left:36.5252057099971%;
}
.roadx7{
    left:41.88234856714%;
}
.roadx8{
    left:47.2030482755948%;
}
.roadx9{
    left:52.5237479840496%;
}
.roadx10{
    left:57.8808908411925%;
}
.roadx11{
    left:63.2015905496473%;
}
.roadx12{
    left:68.5587334067901%;
}
.roadx13{
    left:73.879433115245%;
}
.roadx14{
    left:79.2365759723878%;
}
.roadx15{
    left:84.5572756808426%;
}
.roady1{
    top:9.83989855236823%;
}
.roady2{
    top:12.9695009087747%;
}
.roady3{
    top:16.0622844139294%;
}
.roady4{
    top:19.1918867703358%;
}
.roady5{
    top:22.2846702754905%;
}
.roady6{
    top:25.414272631897%;
}
.roady7{
    top:28.5070561370516%;
}
.roady8{
    top:31.6366584934581%;
}
.roady9{
    top:34.7294419986127%;
}
.roady10{
    top:37.8590443550192%;
}
.roady11{
    top:40.9518278601738%;
}
.roady12{
    top:44.0814302165803%;
}
.roady13{
    top:47.174213721735%;
}
.roady14{
    top:50.3038160781414%;
}
.roady15{
    top:53.3965995832961%;
}
.roady16{
    top:56.5262019397026%;
}
.roady17{
    top:59.6189854448572%;
}
.roady18{
    top:62.7485878012637%;
}
.roady19{
    top:65.8413713064183%;
}
.roady20{
    top:68.9709736628248%;
}
.roady21{
    top:72.0637571679794%;
}
.roady22{
    top:75.1933595243859%;
}
.roady23{
    top:78.2861430295406%;
}
.roady24{
    top:81.415745385947%;
}
.roady25{
    top:84.5085288911017%;
}
.tile_button{
    position:absolute;
    width:6.432335618244978%;
    height:6.498648356577401%;
    z-index:1;
    border-radius:50%;
}
.tile_buttonx1{
    left:14.7138613453965%;
}
.tile_buttonx2{
    left:25.3917039109941%;
}
.tile_buttonx3{
    left:36.0695464765918%;
}
.tile_buttonx4{
    left:46.7473890421895%;
}
.tile_buttonx5{
    left:57.4252316077871%;
}
.tile_buttonx6{
    left:68.1030741733848%;
}
.tile_buttonx7{
    left:78.7809167389825%;
}
.tile_buttony1{
    top:15.6019276626539%;
}
.tile_buttony2{
    top:21.824313524215%;
}
.tile_buttony3{
    top:28.0466993857761%;
}
.tile_buttony4{
    top:34.2690852473372%;
}
.tile_buttony5{
    top:40.4914711088983%;
}
.tile_buttony6{
    top:46.7138569704595%;
}
.tile_buttony7{
    top:52.9362428320206%;
}
.tile_buttony8{
    top:59.1586286935817%;
}
.tile_buttony9{
    top:65.3810145551428%;
}
.tile_buttony10{
    top:71.6034004167039%;
}
.tile_buttony11{
    top:77.8257862782651%;
}
[data-direction="1"]{
    transform: rotate(60deg)
}
[data-direction="2"]{
    transform: rotate(120deg)
}
[data-direction="3"]{
    transform: rotate(180deg)
}
[data-direction="4"]{
    transform: rotate(240deg)
}
[data-direction="5"]{
    transform: rotate(300deg)
}
.chip{
    position:absolute;
    width:6.432335618244978%;
    border-radius:50%;
}
#thief{
    width:100%;
    height:100%;
    z-index:2;
    background:rgba(0, 0, 0, 0.6);
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
}
.house{
    width: 100%;
    height: auto;
}
.city{
    width: 100%;
    height: auto;
}
.roadtoken{
    width: 80%;
    height: auto;
}
#initialize{
    text-align: center;
    margin: 100px auto auto auto
}
#yesorno{
    display: none;
}
#road_button{
    display: none;
}
#house_button{
    display: none;
}
#city_button{
    display: none;
}
#draw_button{
    display: none;
}