@charset "UTF-8";
body{
    background-size: auto 100vh;
    background-position: center top;
}
#container{
    width: 100%;
    max-width: 1500px;
    margin: auto;
}
#select_area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
#decide{
    background: skyblue;
    width: 60px;
    height: 40px;
    margin: 1px;
    padding: 0px;
    font-size:large;
    font-weight: bold;
    border-radius: 50%;
    line-height: 100%;
}
        #dice_area{
            width: 20%;
            height: 10%;
            display: flex;
            justify-content: center;
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: rgb(131, 221, 131);
            z-index: 1;
        }
        .dice{
            width:48%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.5px;
            margin-left: 0.5px;
        }
        #receiving_area{
            width: 10%;
            position: absolute;
            right: 0px;
            bottom: 0px;
            z-index: 3;
        }
        #receiving{
            width: 100%;
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
        #deck_area{
            width: 20%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0px;
            top: 0px;
            background-color: rgb(95, 164, 230);
            z-index: 1;
            font-size: large;
            font-weight: bold;
        }
        #deckcase{
            border: 1px solid black;
            height: 85%;
            width: 30%;
            display: flex;
            align-items: flex-end;
        }
        #deck{
            width: 100%;
            height: 100%;
            background-color: black;
        }
        #cost_card{
            width: 10%;
            height: auto;
            position: absolute;
            left: 0px;
            bottom: 0px;
            z-index: 3;
        }
        .player0color{
            background-color: rgb(236, 28, 36);
        }
        .player1color{
            background-color: rgb(62, 125, 35);
        }
        .player2color{
            background-color: rgb(89, 119, 203);
        }
        .player3color{
            background-color: rgb(255, 242, 0);
        }
        .player4color{
            background-color: rgb(242, 169, 13);
        }
        .player5color{
            background-color: rgb(184, 61, 186);
        }
        #playerinformation{
            display: flex;
            flex-wrap: wrap;
            width:100%;
            height:auto;
            position: relative;
            align-items: center;
            font-size: 14.7px;
        }
            .player{
                width: 100%;
                margin:1px auto;
                border: 3px solid black; 
                border-radius: 5px;
                height: auto;
                min-height: 60px;
                background-color: rgb(255, 255, 255, 0.45);
            }
            .row{
                display: flex;
                min-height: 22px;
                height: 33%;
            }
            .line{
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
            .nameline{
                width: 50%;
                display: flex;
                align-items: center;
                border-right:2px solid black;
                border-bottom:2px solid black;
            }
            .playermark{
                height: 100%;
                width: 15%;
                min-width: 35px;
                display:flex;
                justify-content: center;
                align-items: center;
            }
            .name{
                width: 85%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .remainedtoken{
                height:20px
            }
                .card{
                    display: flex;
                    margin:0 1px;
                    border: 1px solid black; 
                    border-radius: 15%;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                }
                .img_for_card{
                    width: auto;
                    max-width: 96%;
                    max-height: 93%;
                }
                .titlesquare{
                    display: flex;
                    margin:0 1px;
                    border: 1px solid rgb(255, 0, 221); 
                    border-radius: 15%;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                }
                .img_for_title{
                    width: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
                #thisturn{
                    border: 1px solid red; 
                    color: red;
                }
                .knight{
                    background-color:rgb(218, 195, 255);
                }
                .roadbuild{
                    background-color: rgb(231, 182, 145);
                }
                .harvest{
                    background-color: rgb(121, 194, 176);
                }
                .monopoly{
                    background-color: rgb(255, 62, 62);
                }
                .point{
                    background-color: white;
                }
                .lumber{
                    border-color: rgb(116, 61, 25);
                    background-color: #51c251;
                }
                .brick{
                    border-color: rgb(179, 8, 8);
                    background: #e8b4b4;
                }
                .ore{
                    border-color: darkgrey;
                    background-color: #d4d4d4;
                }
                .grain{
                    border-color: gold;
                    background-color: #ffe973;
                }
                .wool{
                    border-color: rgba(144, 238, 144);
                    background-color: #b1f3b1;
                }
                #button_and_message_area{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }
                #message_area{
                    width: 100%;
                    height: 60%;
                    display:flex;
                    flex-wrap: wrap;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                }
                .message{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    margin: auto;
                    justify-content: center;
                    align-items: center;
                }
                #controlrecord{
                    width: 100%;
                    height: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .recordbutton{
                    margin:0 1.5%;
                    height: 26px;
                }
                #turn{
                    font-weight: bold;
                }
                #dice_percentage{
                    display: flex;
                    justify-content: center;
                }
                table{
                    margin: auto 0 auto 0;
                }
                th{
                    background-color: aqua;
                    font-weight: bold;
                    text-align: center;
                }
                td{
                    text-align: center;
                    background-color: white;
                }
                .img_for_table{
                    display: block;
                    width: 20px;
                    margin: auto;
                }
@media screen and (orientation:portrait){
    #field{
        display: none;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    #board_area{
        position:relative;
        justify-content: center;
        width: 100%;
        aspect-ratio: 951.2/863.2;
    }
    #board{
        position: relative;
        width:100%;
        aspect-ratio: 951.2/863.2;
    }
    #player_and_button_area{
        width: 100%;
        max-width: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 140px;
    }
        #players{
            width: 100%;
        }
        #button_and_message_area{
            width: 100%;
            height: 140px;
            position: absolute;
            top: -140px;
        }
            #dice_percentage{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
}
@media screen and (orientation: landscape){
        #field{
            width: 100%;
            height: 98vh;
            display: none;
            align-items: flex-start;
        }@media screen and (min-height:600px){
            #field{
                align-items: center;
            }
        }
            #board_area{
                position:relative;
                width: calc(100% - 400px);
                display: flex;
                justify-content: center;
                max-height: 100%;
                aspect-ratio: 951.2/863.2;
            }@media screen and (min-width:850px) and (max-width:1000px) {
                #board_area{
                    width: 600px;
                }
            }@media screen and (max-width:850px) {
                #board_area{
                    width: calc(100% - 250px);
                }
            }
            #board{
                position: relative;
                height:100%;
                aspect-ratio: 951.2/863.2;
            }
            #player_and_button_area{
                position: relative;
                width: 400px;
                height: 600px;
            }@media screen and (min-width:850px) and (max-width:1000px) {
                #player_and_button_area{
                    width: calc(100% - 600px);
                    min-width: 250px;
                }
            }@media screen and (max-width:850px) {
                #player_and_button_area{
                    width: 250px;
                }
            }
                #players{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                }@media screen and (max-height:600px){
                    #players{
                        position: relative;
                        margin-top: 140px;
                    }
                }
                #button_and_message_area{
                    width: 100%;
                    height: 140px;
                }@media screen and (max-height:600px){
                    #button_and_message_area{
                        position: absolute;
                        top: -140px;
                    }
                }
                    #dice_percentage{
                        width: calc(100% - 400px);
                    }@media screen and (min-width:850px) and (max-width:1000px) {
                        #dice_percentage{
                            width: 600px;
                        }
                    }@media screen and (max-width:850px) {
                        #dice_percentage{
                            width: calc(100% - 250px);
                        }
                    }@media screen and (max-width:800px) {
                        #dice_percentage{
                            flex-wrap: wrap;
                        }
                    }
                    @media screen and (max-width:944px) {
                        .recordbutton{
                            margin: 0 1%;
                            width: 12.5%;
                            font-size: 10%;
                            padding: 0%
                        }
                    }
                    @media screen and (min-height:601px) {
                        #controlrecord{
                            position: fixed;
                            width: 400px;
                            height: initial;
                            bottom: 2.5vh;
                            right: 0%;
                        }@media screen and (min-width:1500px){
                            #controlrecord{
                                bottom: 2.5vh;
                                right: calc(50% - 750px);
                            }
                        }@media screen and (min-width:850px) and (max-width:1000px) {
                            #controlrecord{
                                position: fixed;
                                width: calc(100% - 600px);
                                bottom: 2.5vh;
                                right: 0%;
                            }
                        }@media screen and (max-width:850px) {
                            #controlrecord{
                                position: fixed;
                                width: 250px;
                                bottom: 2.5vh;
                                right: 0%;
                            }
                        }
                    }
}























#board_frame{
    max-width:100%;
    height:auto;
    position:absolute;
}

#tile1{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:0.509731232622799%;
    left:21.78301093%;}
#tile2{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:0.509731232622799%;
    left:35.9966358284272%;}
#tile3{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:0.509731232622799%;
    left:50.21026072%;}
#tile4{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:0.509731232622799%;
    left:64.4238856181665%;}
#tile5{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:14.0871177015755%;
    left:14.6761984861228%;}
#tile6{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:14.0871177015755%;
    left:28.8898233809924%;}
#tile7{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:14.0871177015755%;
    left:43.1034482758621%;}
#tile8{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:14.0871177015755%;
    left:57.3170731707317%;}
#tile9{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:14.0871177015755%;
    left:71.5306980656014%;}
#tile10{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:27.6645041705283%;
    left:7.569386039%;}
#tile11{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:27.6645041705283%;
    left:21.7830109335576%;}
#tile12{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:27.6645041705283%;
    left:35.9966358284272%;}
#tile13{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:27.6645041705283%;
    left:50.21026072%;}
#tile14{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:27.6645041705283%;
    left:64.4238856181665%;}
#tile15{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:27.6645041705283%;
    left:78.6375105130362%;}
#tile16{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:41.241890639481%;
    left:0.462573591253154%;}
#tile17{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:41.241890639481%;
    left:14.6761984861228%;}
#tile18{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:41.241890639481%;
    left:28.8898233809924%;}
#tile19{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:41.241890639481%;
    left:43.1034482758621%;}
#tile20{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:41.241890639481%;
    left:57.3170731707317%;}
#tile21{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:41.241890639481%;
    left:71.5306980656014%;}
#tile22{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:41.241890639481%;
    left:85.744322960471%;}
#tile23{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:54.8192771084337%;
    left:7.56938603868797%;}
#tile24{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:54.8192771084337%;
    left:21.7830109335576%;}
#tile25{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:54.8192771084337%;
    left:35.9966358284272%;}
#tile26{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:54.8192771084337%;
    left:50.21026072%;}
#tile27{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:54.8192771084337%;
    left:64.4238856181665%;}
#tile28{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:54.8192771084337%;
    left:78.6375105130362%;}
#tile29{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:68.3966635773865%;
    left:14.6761984861228%;}
#tile30{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:68.3966635773865%;
    left:28.8898233809924%;}
#tile31{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:68.3966635773865%;
    left:43.1034482758621%;}
#tile32{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:68.3966635773865%;
    left:57.3170731707317%;}
#tile33{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:68.3966635773865%;
    left:71.5306980656014%;}
#tile34{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:81.9740500463392%;
    left:21.7830109335576%;}
#tile35{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:81.9740500463392%;
    left:35.9966358284272%;}
#tile36{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:81.9740500463392%;
    left:50.21026072%;}
#tile37{
    position:absolute;
    width:13.7931034483%;
    height: auto;
    top:81.9740500463392%;
    left:64.4238856181665%;}
    .node{
        position:absolute;
        width:3.822456954641%;
        height:4.212142093669%;
        border-radius:50%;
        text-align: center;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index:2;
    }
    .nodetouch{
        width: 100%;
        height: 100%;
        border-radius:50%;
        text-align: center;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .relativenode{
        background-color: rgba(159, 28, 192, 0.5);
    }
    #node1{
        top:16.1515749216546000%;
        left:26.76833418037500%;
    }
    #node2{
        top:11.7030114369466000%;
        left:33.87514662780980%;
    }
    #node3{
        top:16.1515749216546000%;
        left:40.98195907524460%;
    }
    #node4{
        top:11.7030114369466000%;
        left:48.08877152267950%;
    }
    #node5{
        top:16.1515749216546000%;
        left:55.19558397011430%;
    }
    #node6{
        top:11.7030114369466000%;
        left:62.30239641754910%;
    }
    #node7{
        top:16.1515749216546000%;
        left:69.40920886498390%;
    }
    #node8{
        top:29.7289613906074000%;
        left:19.66152173294020%;
    }
    #node9{
        top:25.2803979058993000%;
        left:26.76833418037500%;
    }
    #node10{
        top:29.7289613906074000%;
        left:33.87514662780980%;
    }
    #node11{
        top:25.2803979058993000%;
        left:40.98195907524460%;
    }
    #node12{
        top:29.7289613906074000%;
        left:48.08877152267950%;
    }
    #node13{
        top:25.2803979058993000%;
        left:55.19558397011430%;
    }
    #node14{
        top:29.7289613906074000%;
        left:62.30239641754910%;
    }
    #node15{
        top:25.2803979058993000%;
        left:69.40920886498390%;
    }
    #node16{
        top:29.7289613906074000%;
        left:76.51602131241870%;
    }
    #node17{
        top:43.3063478595601000%;
        left:12.55470928550540%;
    }
    #node18{
        top:38.8577843748520000%;
        left:19.66152173294020%;
    }
    #node19{
        top:43.3063478595601000%;
        left:26.76833418037500%;
    }
    #node20{
        top:38.8577843748520000%;
        left:33.87514662780980%;
    }
    #node21{
        top:43.3063478595601000%;
        left:40.98195907524460%;
    }
    #node22{
        top:38.8577843748520000%;
        left:48.08877152267950%;
    }
    #node23{
        top:43.3063478595601000%;
        left:55.19558397011430%;
    }
    #node24{
        top:38.8577843748520000%;
        left:62.30239641754910%;
    }
    #node25{
        top:43.3063478595601000%;
        left:69.40920886498390%;
    }
    #node26{
        top:38.8577843748520000%;
        left:76.51602131241870%;
    }
    #node27{
        top:43.3063478595601000%;
        left:83.62283375985360%;
    }
    #node28{
        top:52.4351708438048000%;
        left:12.55470928550540%;
    }
    #node29{
        top:56.8837343285128000%;
        left:19.66152173294020%;
    }
    #node30{
        top:52.4351708438048000%;
        left:26.76833418037500%;
    }
    #node31{
        top:56.8837343285128000%;
        left:33.87514662780980%;
    }
    #node32{
        top:52.4351708438048000%;
        left:40.98195907524460%;
    }
    #node33{
        top:56.8837343285128000%;
        left:48.08877152267950%;
    }
    #node34{
        top:52.4351708438048000%;
        left:55.19558397011430%;
    }
    #node35{
        top:56.8837343285128000%;
        left:62.30239641754910%;
    }
    #node36{
        top:52.4351708438048000%;
        left:69.40920886498390%;
    }
    #node37{
        top:56.8837343285128000%;
        left:76.51602131241870%;
    }
    #node38{
        top:52.4351708438048000%;
        left:83.62283375985360%;
    }
    #node39{
        top:66.0125573127575000%;
        left:19.66152173294020%;
    }
    #node40{
        top:70.4611207974656000%;
        left:26.76833418037500%;
    }
    #node41{
        top:66.0125573127575000%;
        left:33.87514662780980%;
    }
    #node42{
        top:70.4611207974656000%;
        left:40.98195907524460%;
    }
    #node43{
        top:66.0125573127575000%;
        left:48.08877152267950%;
    }
    #node44{
        top:70.4611207974656000%;
        left:55.19558397011430%;
    }
    #node45{
        top:66.0125573127575000%;
        left:62.30239641754910%;
    }
    #node46{
        top:70.4611207974656000%;
        left:69.40920886498390%;
    }
    #node47{
        top:66.0125573127575000%;
        left:76.51602131241870%;
    }
    #node48{
        top:79.5899437817102000%;
        left:26.76833418037500%;
    }
    #node49{
        top:84.0385072664183000%;
        left:33.87514662780980%;
    }
    #node50{
        top:79.5899437817102000%;
        left:40.98195907524460%;
    }
    #node51{
        top:84.0385072664183000%;
        left:48.08877152267950%;
    }
    #node52{
        top:79.5899437817102000%;
        left:55.19558397011430%;
    }
    #node53{
        top:84.0385072664183000%;
        left:62.30239641754910%;
    }
    #node54{
        top:79.5899437817102000%;
        left:69.40920886498390%;
    }
    .road{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #road1{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:12.5232458147446%;
        left:29.0265620135487%;
        z-index:1;
        border-radius:50%;
    }
    #road2{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:12.5232458147446%;
        left:36.1333744609835%;
        z-index:1;
        border-radius:50%;
    }
    #road3{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:12.5232458147446%;
        left:43.2401869084184%;
        z-index:1;
        border-radius:50%;
    }
    #road4{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:12.5232458147446%;
        left:50.3469993558532%;
        z-index:1;
        border-radius:50%;
    }
    #road5{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:12.5232458147446%;
        left:57.453811803288%;
        z-index:1;
        border-radius:50%;
    }
    #road6{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:12.5232458147446%;
        left:64.5606242507228%;
        z-index:1;
        border-radius:50%;
    }
    #road7{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:19.2887694477381%;
        left:25.4521297175016%;
        z-index:1;
        border-radius:50%;
    }
    #road8{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:19.2887694477381%;
        left:39.6657546123713%;
        z-index:1;
        border-radius:50%;
    }
    #road9{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:19.2887694477381%;
        left:53.8793795072409%;
        z-index:1;
        border-radius:50%;
    }
    #road10{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:19.2887694477381%;
        left:68.0930044021105%;
        z-index:1;
        border-radius:50%;
    }
    #road11{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:26.1006322836973%;
        left:21.9197495661139%;
        z-index:1;
        border-radius:50%;
    }
    #road12{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:26.1006322836973%;
        left:29.0265620135487%;
        z-index:1;
        border-radius:50%;
    }
    #road13{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:26.1006322836973%;
        left:36.1333744609835%;
        z-index:1;
        border-radius:50%;
    }
    #road14{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:26.1006322836973%;
        left:43.2401869084184%;
        z-index:1;
        border-radius:50%;
    }
    #road15{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:26.1006322836973%;
        left:50.3469993558532%;
        z-index:1;
        border-radius:50%;
    }
    #road16{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:26.1006322836973%;
        left:57.453811803288%;
        z-index:1;
        border-radius:50%;
    }
    #road17{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:26.1006322836973%;
        left:64.5606242507228%;
        z-index:1;
        border-radius:50%;
    }
    #road18{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:26.1006322836973%;
        left:71.6674366981577%;
        z-index:1;
        border-radius:50%;
    }
    #road19{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:32.8661559166909%;
        left:18.3453172700668%;
        z-index:1;
        border-radius:50%;
    }
    #road20{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:32.8661559166909%;
        left:32.5589421649364%;
        z-index:1;
        border-radius:50%;
    }
    #road21{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:32.8661559166909%;
        left:46.7725670598061%;
        z-index:1;
        border-radius:50%;
    }
    #road22{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:32.8661559166909%;
        left:60.9861919546757%;
        z-index:1;
        border-radius:50%;
    }
    #road23{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:32.8661559166909%;
        left:75.1998168495454%;
        z-index:1;
        border-radius:50%;
    }
    #road24{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:39.6780187526501%;
        left:14.8129371186791%;
        z-index:1;
        border-radius:50%;
    }
    #road25{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:39.6780187526501%;
        left:21.9197495661139%;
        z-index:1;
        border-radius:50%;
    }
    #road26{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:39.6780187526501%;
        left:29.0265620135487%;
        z-index:1;
        border-radius:50%;
    }
    #road27{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:39.6780187526501%;
        left:36.1333744609835%;
        z-index:1;
        border-radius:50%;
    }
    #road28{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:39.6780187526501%;
        left:43.2401869084184%;
        z-index:1;
        border-radius:50%;
    }
    #road29{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:39.6780187526501%;
        left:50.3469993558532%;
        z-index:1;
        border-radius:50%;
    }
    #road30{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:39.6780187526501%;
        left:57.453811803288%;
        z-index:1;
        border-radius:50%;
    }
    #road31{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:39.6780187526501%;
        left:64.5606242507228%;
        z-index:1;
        border-radius:50%;
    }
    #road32{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:39.6780187526501%;
        left:71.6674366981577%;
        z-index:1;
        border-radius:50%;
    }
    #road33{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:39.6780187526501%;
        left:78.7742491455925%;
        z-index:1;
        border-radius:50%;
    }
    #road34{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:46.4435423856436%;
        left:11.238504822632%;
        z-index:1;
        border-radius:50%;
    }
    #road35{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:46.4435423856436%;
        left:25.4521297175016%;
        z-index:1;
        border-radius:50%;
    }
    #road36{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:46.4435423856436%;
        left:39.6657546123713%;
        z-index:1;
        border-radius:50%;
    }
    #road37{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:46.4435423856436%;
        left:53.8793795072409%;
        z-index:1;
        border-radius:50%;
    }
    #road38{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:46.4435423856436%;
        left:68.0930044021105%;
        z-index:1;
        border-radius:50%;
    }
    #road39{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:46.4435423856436%;
        left:82.3066292969802%;
        z-index:1;
        border-radius:50%;
    }
    #road40{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:53.2554052216028%;
        left:14.8129371186791%;
        z-index:1;
        border-radius:50%;
    }
    #road41{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:53.2554052216028%;
        left:21.9197495661139%;
        z-index:1;
        border-radius:50%;
    }
    #road42{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:53.2554052216028%;
        left:29.0265620135487%;
        z-index:1;
        border-radius:50%;
    }
    #road43{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:53.2554052216028%;
        left:36.1333744609835%;
        z-index:1;
        border-radius:50%;
    }
    #road44{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:53.2554052216028%;
        left:43.2401869084184%;
        z-index:1;
        border-radius:50%;
    }
    #road45{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:53.2554052216028%;
        left:50.3469993558532%;
        z-index:1;
        border-radius:50%;
    }
    #road46{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:53.2554052216028%;
        left:57.453811803288%;
        z-index:1;
        border-radius:50%;
    }
    #road47{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:53.2554052216028%;
        left:64.5606242507228%;
        z-index:1;
        border-radius:50%;
    }
    #road48{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:53.2554052216028%;
        left:71.6674366981577%;
        z-index:1;
        border-radius:50%;
    }
    #road49{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:53.2554052216028%;
        left:78.7742491455925%;
        z-index:1;
        border-radius:50%;
    }
    #road50{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:60.0209288545963%;
        left:18.3453172700668%;
        z-index:1;
        border-radius:50%;
    }
    #road51{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:60.0209288545963%;
        left:32.5589421649364%;
        z-index:1;
        border-radius:50%;
    }
    #road52{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:60.0209288545963%;
        left:46.7725670598061%;
        z-index:1;
        border-radius:50%;
    }
    #road53{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:60.0209288545963%;
        left:60.9861919546757%;
        z-index:1;
        border-radius:50%;
    }
    #road54{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:60.0209288545963%;
        left:75.1998168495454%;
        z-index:1;
        border-radius:50%;
    }
    #road55{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:66.8327916905555%;
        left:21.9197495661139%;
        z-index:1;
        border-radius:50%;
    }
    #road56{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:66.8327916905555%;
        left:29.0265620135487%;
        z-index:1;
        border-radius:50%;
    }
    #road57{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:66.8327916905555%;
        left:36.1333744609835%;
        z-index:1;
        border-radius:50%;
    }
    #road58{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:66.8327916905555%;
        left:43.2401869084184%;
        z-index:1;
        border-radius:50%;
    }
    #road59{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:66.8327916905555%;
        left:50.3469993558532%;
        z-index:1;
        border-radius:50%;
    }
    #road60{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:66.8327916905555%;
        left:57.453811803288%;
        z-index:1;
        border-radius:50%;
    }
    #road61{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:66.8327916905555%;
        left:64.5606242507228%;
        z-index:1;
        border-radius:50%;
    }
    #road62{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:66.8327916905555%;
        left:71.6674366981577%;
        z-index:1;
        border-radius:50%;
    }
    #road63{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:73.5983153235491%;
        left:25.4521297175016%;
        z-index:1;
        border-radius:50%;
    }
    #road64{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:73.5983153235491%;
        left:39.6657546123713%;
        z-index:1;
        border-radius:50%;
    }
    #road65{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:73.5983153235491%;
        left:53.8793795072409%;
        z-index:1;
        border-radius:50%;
    }
    #road66{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:73.5983153235491%;
        left:68.0930044021105%;
        z-index:1;
        border-radius:50%;
    }
    #road67{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:80.4101781595083%;
        left:29.0265620135487%;
        z-index:1;
        border-radius:50%;
    }
    #road68{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:80.4101781595083%;
        left:36.1333744609835%;
        z-index:1;
        border-radius:50%;
    }
    #road69{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:80.4101781595083%;
        left:43.2401869084184%;
        z-index:1;
        border-radius:50%;
    }
    #road70{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:80.4101781595083%;
        left:50.3469993558532%;
        z-index:1;
        border-radius:50%;
    }
    #road71{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:80.4101781595083%;
        left:57.453811803288%;
        z-index:1;
        border-radius:50%;
    }
    #road72{
        position:absolute;
        width:6.37076159106909%;
        height:7.02023682278142%;
        top:80.4101781595083%;
        left:64.5606242507228%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button1{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:18.70937698413%;
        left:32.0331520318555%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button2{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:18.70937698413%;
        left:46.2467769267252%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button3{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:18.70937698413%;
        left:60.4604018215948%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button4{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:32.2867634530827%;
        left:24.9263395844207%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button5{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:32.2867634530827%;
        left:39.1399644792904%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button6{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:32.2867634530827%;
        left:53.35358937416%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button7{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:32.2867634530827%;
        left:67.5672142690296%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button8{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:45.8641499220354%;
        left:17.8195271369859%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button9{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:45.8641499220354%;
        left:32.0331520318555%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button10{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:45.8641499220354%;
        left:46.2467769267252%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button11{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:45.8641499220354%;
        left:60.4604018215948%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button12{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:45.8641499220354%;
        left:74.6740267164644%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button13{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:59.4415363909882%;
        left:24.9263395844207%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button14{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:59.4415363909882%;
        left:39.1399644792904%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button15{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:59.4415363909882%;
        left:53.35358937416%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button16{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:59.4415363909882%;
        left:67.5672142690296%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button17{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:73.0189228599409%;
        left:32.0331520318555%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button18{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:73.0189228599409%;
        left:46.2467769267252%;
        z-index:1;
        border-radius:50%;
    }
    #tile_button19{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:73.0189228599409%;
        left:60.4604018215948%;
        z-index:1;
        border-radius:50%;
    }
    #chip1{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:18.70937698413%;
        left:32.0331520318555%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip2{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:18.70937698413%;
        left:46.2467769267252%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip3{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:18.70937698413%;
        left:60.4604018215948%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip4{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:32.2867634530827%;
        left:24.9263395844207%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip5{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:32.2867634530827%;
        left:39.1399644792904%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip6{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:32.2867634530827%;
        left:53.35358937416%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip7{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:32.2867634530827%;
        left:67.5672142690296%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip8{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:45.8641499220354%;
        left:17.8195271369859%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip9{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:45.8641499220354%;
        left:32.0331520318555%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip10{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:45.8641499220354%;
        left:46.2467769267252%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip11{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:45.8641499220354%;
        left:60.4604018215948%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip12{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:45.8641499220354%;
        left:74.6740267164644%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip13{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:59.4415363909882%;
        left:24.9263395844207%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip14{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:59.4415363909882%;
        left:39.1399644792904%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip15{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:59.4415363909882%;
        left:53.35358937416%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip16{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:59.4415363909882%;
        left:67.5672142690296%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip17{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:73.0189228599409%;
        left:32.0331520318555%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip18{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:73.0189228599409%;
        left:46.2467769267252%;
        z-index:0;
        
        border-radius:50%;
    }
    #chip19{
        position:absolute;
        width:7.4223418572309106%;
        height:8.179021749997732%;
        top:73.0189228599409%;
        left:60.4604018215948%;
        z-index:0;
        
        border-radius:50%;
    }
    [data-direction="1"]{
        transform: rotate(-60deg)
    }
    [data-direction="2"]{
        transform: rotate(-120deg)
    }
    [data-direction="3"]{
        transform: rotate(-180deg)
    }
    [data-direction="4"]{
        transform: rotate(-240deg)
    }
    [data-direction="5"]{
        transform: rotate(-300deg)
    }
    #thief{
        width:100%;
        height:100%;
        z-index:2;
        background:rgba(0, 0, 0, 0.6);
        border-radius:50%;
        text-align: center;
        vertical-align: middle;
    }
    .house{
        width: 100%;
        height: auto;
    }
    .city{
        width: 100%;
        height: auto;
    }
    .roadtoken{
        width: 80%;
        height: auto;
    }
    #initialize{
        text-align: center;
        margin: 100px auto auto auto
    }