<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>九州の開拓者たち</title>
    <link rel="stylesheet" href="./Past-Games-Regular.css" id="cs">
    <link rel="icon" href="./img/favicon.ico">
</head>
<body background="./img/kyushu.jpg">
    <div id="container">
        <div id="field">
            <div id="board_area">
                <div id="board">
                </div>
            </div>
            <div id="player_and_button_area">
                <div id="players">
                    <div id="playerinformation">
                    </div>
                    <div id="button_and_message_area">
                        <div id="message_area"></div>
                        <div id="controlrecord">
                            <div id="recordrow1" class="recordrows">
                                <button id="firstturn" class="recordbutton">|◀◀</button>
                                <button id="previousturn" class="recordbutton">◀◀</button>
                                <button id="previousaction" class="recordbutton">◀</button>
                                <div id="turn"></div>
                                <button id="nextaction" class="recordbutton">▶</button>
                                <button id="nextturn" class="recordbutton">▶▶</button>
                                <button id="finalturn" class="recordbutton">▶▶|</button>
                            </div>
                            <div id="recordrow2" class="recordrows"><button id="moveto" class="recordbutton"><img src="./img/glass.png" id="recordbuttonicon" alt="glass"></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table border="5" id="gamelist">
            <tr>
                <th><img src="./img/calender.png" alt="" class="img_for_table"></th>
                <th><img src="./img/crown.png" alt="" class="img_for_table"></th>
                <th></th>
            </tr>
            <% for(let game of data){ %>
                <% if(game.start_time){ %>
                    <tr>
                        <td><%= game.start_time.toLocaleString() %></td>
                        <td><%= game.name %></td>
                        <td><img src="./img/view.png" alt="" class="img_for_table view_game" id="<%= game.gameid %>"></td>
                    </tr>
                <% }%>
            <% } %>
        </table>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./jquery-3.4.1.min.js"></script>
    <script src="./Past-Games.js"></script>
</body>
</html>